body {
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

#highlight h2 {
    margin-top: -80px;
    color: limegreen;
    font-weight: bold;
    font-size: 55px;
    font-family: 'Varela Round', sans-serif;
}

#highlight .input-group {
    padding-left: 150px;
    padding-right: 150px; 
}

#login {
    margin-top: 0px;
}

#login button {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    border-radius: 0px;
    height: 45px;
    color: black;
}

#login input {
    max-width: 270px;
    height: 45px;
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-color: rgba(144, 238, 144, 0.5);
    border-radius: 0px;
    margin-left: auto;
    margin-right: auto;
}

#login p {
    margin-top: 20px;
    font-size: 15px;
}

